.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {we
  font-size: 1.5em;
}

.App-intro {
  margin-top: 50px;
  font-size: large;
}

.box-container {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  display: inline-block;
}

.box-input {
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

/* hide number input spinners */
input.box-input::-webkit-outer-spin-button,
input.box-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.button {
  cursor: pointer;
  width: 80px;
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 20px 5px;
}

.error-row {
  background-color: #f00;
}

.error-col {
  background-color: #f00;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
